  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">


      <img src="assets/img/brands/last_logo_.png" style="width: 130px; height: auto; float: left;">

      <a href="index.html" class="logo d-flex align-items-center">

      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Home</a></li>
          <li><a href="#about">About</a></li>
                    <li><a href="#clients">Clients</a></li>

          <li><a href="#brands">Brands</a></li>
          
          <li><a href="#contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>